*/Outputs/
Python/__pycache__/
Plotting/PlotJava.py
Python/PlotJava.py
animation.mp4
.vscode/
ManimPlotting/
media/
javasimulation/javasimulation/
Plotting/
Python/Figures/Orbits.png
Python/Figures/Shape_Space.png
Python/Figures/Shape_Space_Discreet.png
Python/Figures/Gradient_Codes_Plot.png
Python/Figures
testing_perturbations/
